NEXT_PUBLIC_INFURA_KEY=YOUR_INFURA_KEY
NEXT_PUBLIC_ALCHEMY_KEY=YOUR_ALCHEMY_KEY
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=WALLET_CONNECT_PROJECT_ID
IPSTACK_ACCESS_KEY=IPSTACK_ACCESS_KEY
NEXT_PUBLIC_DEPLOYED_ENV= mainnet || staging || testnet