@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  background: radial-gradient(
    47.06% 72.06% at 50% 65.68%,
    #2d206f 0%,
    #000000 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.app-header {
  background: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #201d47 0%,
    #17153a 100%
  );
}

.remove-header {
  background: radial-gradient(
    123.22% 129.67% at 100.89% 100%,
    #201d47 100%,
    #17153a 100%
  );
  background-color: black;
  opacity: 1;
  z-index: 999999;
}

.network_button {
  background: linear-gradient(137deg, #4fd7fa 8.34%, #c438ef 95.26%);
}

.account_button {
  background: linear-gradient(137deg, #4fd7fa 8.34%, #c438ef 95.26%);
}

.menu-bg {
  background: radial-gradient(
    48.98% 14130.72% at 51.02% 50%,
    rgb(40, 25, 80) 45.83%,
    rgb(18, 9, 37) 100%
  );
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 10px;
}

.address-container:hover .tooltip {
  opacity: 1;
}

.market-info-card {
  position: relative;
  background: linear-gradient(
    104deg,
    rgba(98, 87, 242, 0.17) 18.94%,
    rgba(93, 222, 250, 0.17) 94.84%
  );
}

.market-info-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(40.02deg, #54d0fa10 40%, #c03ef0 74%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.primary-button-bg {
  background: linear-gradient(86.02deg, #f3943d -8.86%, #fde34d 129.9%);
}

.primary-button-bg:hover {
  background: linear-gradient(86.02deg, #dc802a -8.86%, #dfc94c 129.9%);
}

.vaults-card {
  background: linear-gradient(
    104deg,
    rgba(98, 87, 242, 0.17) 18.94%,
    rgba(93, 222, 250, 0.17) 94.84%
  );
}

.logo-cascade {
  margin-right: -15px;
  border-radius: 50% !important;
}

.secondary-button {
  position: relative;
  color: #ffffff;
}

.secondary-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(86.02deg, #f3943d -8.86%, #fde34d 129.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.vault-item:last-child {
  border-bottom: none;
}

.market-gradient-text {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
