@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  --card-bg: linear-gradient(
    104deg,
    rgba(98, 87, 242, 0.17) 18.94%,
    rgba(93, 222, 250, 0.17) 94.84%
  );
  --card-header-bg: linear-gradient(137deg, #5ddefa, #6257f2, 90%);
  --header-bg: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #201d47 0%,
    #17153a 100%
  );
  --header-button-bg: linear-gradient(137deg, #4fd7fa 8.34%, #c438ef 95.26%);
  --primary-button: linear-gradient(86.02deg, #f3943d -8.86%, #fde34d 129.9%);
  --secondary-button-bg: linear-gradient(
    90.02deg,
    #f28e05 -8.86%,
    #c43aef 100.9%
  );
  --card-gradient-text: linear-gradient(157deg, #51d5fa 8.34%, #b74af1 60.26%);
  --button-gradient-text: linear-gradient(
    100deg,
    #f28e05 30.34%,
    #c63de5 60.26%
  );
  --manage-gradient-text: linear-gradient(
    100deg,
    #f28e05 10.34%,
    #c63de5 86.26%
  );
  --defi-box-gradient: linear-gradient(100deg, #f3943d 10.34%, #fde34d 86.26%);
  --tooltip-bg: linear-gradient(
    104deg,
    rgba(60, 55, 142, 0.9) 18.94%,
    rgba(39, 86, 152, 0.9) 94.84%
  );
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: #ffffff60;
}

body {
  background-color: black;
  background: radial-gradient(
    72.06% 77.06% at 50% 65.68%,
    #2d206f 0%,
    #000000 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Satoshi", sans-serif;
  color: "white";
}

.app-header,
.menu-bg {
  background: var(--header-bg);
}

.network_button,
.account_button {
  background: var(--header-button-bg);
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 10px;
  text-align: center;
  width: max-content;
}

.address-container:hover .tooltip {
  opacity: 1;
}

.network-indicator:hover .tooltip {
  opacity: 1;
}

.summary-card,
.pool-card,
.card-bg {
  position: relative;
  background: var(--card-bg);
}

.footer-card {
  position: relative;
  background: linear-gradient(
    154deg,
    rgba(98, 87, 242, 0.11) 18.94%,
    rgba(93, 222, 250, 0.1) 94.84%
  );
}

.card-header-bg {
  background: linear-gradient(
    137deg,
    rgba(93, 222, 250, 0.15),
    rgba(98, 87, 242, 0.15)
  );
}

.pool-card::before,
.tooltip-bg::before,
.app-modal::before,
.footer-card::before,
.summary-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(68.02deg, #54d0fa10 40%, #b854dd 84%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.success-toast::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(68.02deg, #57fa5412 12%, #44b410 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.error-toast::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(68.02deg, #e91e631f 12%, #e91e63 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.more-dropdown::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(68.02deg, #19294d 12%, #365aad00 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.primary-button {
  position: relative;
  background: linear-gradient(168.02deg, #f28e05 -8.86%, #c438ef 100.9%);
}

.primary-button:hover {
  background: linear-gradient(86.02deg, #c438ef -8.86%, #f28e05 129.9%);
  opacity: 50;
}

.logo-cascade {
  margin-right: -15px;
  border-radius: 50% !important;
}

.secondary-button {
  position: relative;
  color: #ffffff;
}

.secondary-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: var(--secondary-button-bg);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.vault-item:last-child {
  border-bottom: none;
}

.card-gradient-text {
  background: var(--card-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient-text {
  background: var(--button-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manage-gradient-text {
  background: var(--manage-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defi-box {
  position: relative;
  color: #ffffff;
}

.defi-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;
  background: var(--defi-box-gradient);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.tooltip-bg {
  position: relative;
  background: var(--tooltip-bg);
}

.borrow-gradient-text {
  background: linear-gradient(180deg, #d974ff 0%, #c142f0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.supply-gradient-text {
  background: linear-gradient(180deg, #75caff 0%, #42adf0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recharts-bar-rectangles:hover {
  fill: none !important;
}

.success-toast,
.error-toast,
.app-modal {
  background: linear-gradient(180deg, #342f74 0%, #232357 100% 129.9%);
  position: relative;
}

.modal-button {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    104deg,
    rgba(98, 87, 242, 0.17) 18.94%,
    rgba(93, 222, 250, 0.17) 94.84%
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
  background: #312d72;
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}

.route-active-bar {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
}

.multiplier-circle {
  position: relative;
  color: #ffffff;
}

.multiplier-circle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 2px;
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.lock-time-box:hover {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
}

.token-select,
.bridge-box,
.token-select-active {
  position: relative;
}

.market-card {
  position: relative;
  background: var(--card-bg);
  transition: all 0.5s ease; /* Remove invalid properties */
}

.market-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(167.02deg, #51d5fa 8.86%, #b74af1 90.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: opacity 0.5s ease; /* Only animate opacity */
}

.market-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(68.02deg, #54d0fa10 40%, #b854dd 84%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: opacity 0.5s ease; /* Only animate opacity */
}

.market-card::before {
  z-index: 1;
  opacity: 1; /* Default visible */
}

.market-card::after {
  z-index: 2;
  opacity: 0; /* Initially hidden */
}

.market-card:hover::before {
  opacity: 0; /* Fade out the ::before pseudo-element */
}

.market-card:hover::after {
  opacity: 1; /* Fade in the ::after pseudo-element */
}

.token-select:hover,
.bridge-box:hover {
  background: linear-gradient(
    95.05deg,
    rgba(150, 136, 247, 0.1) 16.92%,
    rgba(93, 222, 250, 0.1) 89.95%
  );
}

.bridge-box-active,
.token-select {
  background: linear-gradient(
    95.05deg,
    rgba(150, 136, 247, 0.1) 16.92%,
    rgba(93, 222, 250, 0.1) 89.95%
  );
  border-radius: 16px;
}

.bridge-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1.5px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0; /* Hide the pseudo-element initially */
  transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}

.bridge-box-active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1.5px;
  background: linear-gradient(167.02deg, #51d5fa 8.86%, #b74af1 90.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1; /* Hide the pseudo-element initially */
}

.token-select::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: #ffffff20;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1; /* Hide the pseudo-element initially */
  transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}

.token-select-active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: #ffffff20;
  background: linear-gradient(167.02deg, #51d5fa 8.86%, #b74af1 90.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1; /* Hide the pseudo-element initially */
  transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}

.bridge-box:hover::before {
  opacity: 1; /* Show the pseudo-element on hover */
}

.filter-box {
  position: relative;
  border-radius: 8px;
  background: linear-gradient(
    95.05deg,
    rgba(150, 136, 247, 0.1) 16.92%,
    rgba(93, 222, 250, 0.1) 89.95%
  );
}

.filter-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1.5px;
  background: linear-gradient(167.02deg, #51d5fa 8.86%, #b74af1 90.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1; /* Hide the pseudo-element initially */
}

.token-select:hover::before {
  background: linear-gradient(167.02deg, #51d5fa 8.86%, #b74af1 90.9%);
}

.bridge-scroll-element {
  overflow: auto;
  position: relative;
  margin-right: -12px;
  padding-right: 4px;
}

.bridge-scroll-element::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  padding-left: 4px;
  margin-right: -10px;
}

.bridge-scroll-element::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: -10px;
}

.bridge-scroll-element::-webkit-scrollbar-thumb {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  border-radius: 10px;
  margin-right: -10px;
}

.bridge-scroll-element::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  opacity: 0.8;
}

.bridge-scroll-element::-webkit-scrollbar-corner {
  background: transparent;
}

.hazy-bg {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.02);
}

.bridge-assets-bg {
  background-image: url("../assets/images/bridge-assets-bg.png");
  background-position: top left;
}

.search-box {
  background: linear-gradient(137deg, #6257f237 8.34%, #5ddefa27 95.26%);
}

.search-box input::placeholder {
  color: #ffffff70;
  font-size: 14px;
  font-weight: 500;
}

/* In your CSS file or <style> tag */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.mobile-nav {
  background: radial-gradient(
    59.97% 59.97% at 50% 48.72%,
    #1d123a 0%,
    #030303 100%
  );
}

.custom-grid-card {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

.grid-info-card {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-action-card {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.grid-claim-card {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create the custom checkbox */
.custom-checkbox .checkmark {
  display: inline-block;
  border: 2px solid #8080cc;
  border-radius: 4px;
  background-color: transparent; /* No background */
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Style the checkmark when the input is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  border: none;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8.5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  opacity: 0; /* Hidden by default */
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  opacity: 1;
}

.terms-text {
  line-height: 25px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .custom-grid-card {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    gap: 24px;
  }

  .token-select::before {
    border-radius: 12px;
  }

  .token-select-active::before {
    border-radius: 12px;
  }

  .custom-checkbox .checkmark {
    border-radius: 3px;
  }

  .custom-checkbox .checkmark::after {
    top: 3.5px;
    left: 6px;
    width: 4px;
    height: 8px;
  }

  .terms-text {
    line-height: 17px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .switch {
    width: 38px;
    height: 18px;
  }

  .slider:before {
    height: 12px;
    width: 12px;
    left: 6px;
    bottom: 3px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .custom-grid-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .token-select::before {
    border-radius: 8px;
  }

  .token-select-active::before {
    border-radius: 8px;
  }

  .custom-checkbox .checkmark {
    border-radius: 3px;
  }

  .custom-checkbox .checkmark::after {
    top: 3.5px;
    left: 6px;
    width: 4px;
    height: 8px;
  }

  .terms-text {
    line-height: 12px !important;
  }
}
