@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg: linear-gradient(
    104deg,
    rgba(98, 87, 242, 0.17) 18.94%,
    rgba(93, 222, 250, 0.17) 94.84%
  );
  --card-header-bg: linear-gradient(137deg, #5ddefa, #6257f2, 90%);
  --header-bg: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #201d47 0%,
    #17153a 100%
  );
  --header-button-bg: linear-gradient(137deg, #4fd7fa 8.34%, #c438ef 95.26%);
  --primary-button: linear-gradient(86.02deg, #f3943d -8.86%, #fde34d 129.9%);
  --secondary-button-bg: linear-gradient(
    90.02deg,
    #f28e05 -8.86%,
    #c43aef 100.9%
  );
  --card-gradient-text: linear-gradient(137deg, #51d5fa 8.34%, #b74af1 95.26%);
  --button-gradient-text: linear-gradient(
    100deg,
    #f28e05 30.34%,
    #c63de5 60.26%
  );
  --manage-gradient-text: linear-gradient(
    100deg,
    #f28e05 10.34%,
    #c63de5 86.26%
  );
}

body {
  background-color: black;
  background: radial-gradient(
    47.06% 72.06% at 50% 65.68%,
    #2d206f 0%,
    #000000 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.app-header,
.menu-bg {
  background: var(--header-bg);
}

.network_button,
.account_button {
  background: var(--header-button-bg);
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 10px;
}

.address-container:hover .tooltip {
  opacity: 1;
}

.summary-card,
.pool-card,
.card-bg {
  position: relative;
  background: var(--card-bg);
}

.card-header-bg {
  background: linear-gradient(
    137deg,
    rgba(93, 222, 250, 0.15),
    rgba(98, 87, 242, 0.15)
  );
}

.pool-card::before,
.summary-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(68.02deg, #54d0fa10 40%, #b854dd 84%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.primary-button {
  position: relative;
  background: linear-gradient(168.02deg, #f28e05 -8.86%, #c438ef 100.9%);
}

.primary-button:hover {
  background: linear-gradient(86.02deg, #c438ef -8.86%, #f28e05 129.9%);
  opacity: 50;
}

.logo-cascade {
  margin-right: -15px;
  border-radius: 50% !important;
}

.secondary-button {
  position: relative;
  color: #ffffff;
}

.secondary-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: var(--secondary-button-bg);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.vault-item:last-child {
  border-bottom: none;
}

.card-gradient-text {
  background: var(--card-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient-text {
  background: var(--button-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manage-gradient-text {
  background: var(--manage-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
